.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #1C315E;
  color: #27374D;
 
}

.header-container-one {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.header-container-two {
  display: flex;
  font-family: "Poppins", sans-serif;
  color: black;
}

.header-item {
  margin: 10px;
  text-align: center;
  font-size: 13px;
  line-height: 1.5;
  text-decoration: none;
  color: #DDE6ED
}

.header-button {
  margin: 10px;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
  line-height: 1.5;
  color: #DDE6ED
}

.container-header {
  display: flex;
  justify-content: center;
  height: 80px;
  text-align: center;
  align-items: center;
  /* font-family: "Great Vibes", cursive; */
  font-size: 92px;
  color: goldenrod;
  margin-bottom: 20px;
}

.container-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.backgroundImageHome img {
  text-align: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 154px;
  width: 216vh;
  height: 78vh;

  /* background-color: #61dafb; */
}
.backgroundImageHome {
  display: flex;
  justify-content: center;
}

.highJewelleryList {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(193, 166, 114);
  width: 1000px;
  font-family: "Poppins", sans-serif;
  gap: 30px;
  border-radius: 15px;
}

.highJewelleryListCatagory {
  margin: 50px;
  color: rgb(4, 4, 4);
  margin-top: 10px;
  font-size: 15px;
}

ul {
  list-style-type: none;
  margin-left: -40px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(236, 236, 230);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 130px;
  text-align: center;
  gap: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: grey;
  position: fixed;
}

.Subbody {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
  background-color: rgb(247, 247, 242);
  height: 400px;
}

.Subbody img {
  width: 200px;
  align-self: center;
}

.subbodyheader {
  display: flex;
  justify-content: center;
  margin-top: -100px;
  text-align: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.subbodyheader p {
  font-size: 20px;
  margin-bottom: -46px;
}
.subbodyheader h2 {
  font-size: 50px;
}

.Link {
  color:#DDE6ED;
  text-decoration: none;
}

.dark {
  color: rgb(199, 150, 60);
}

.image {
  margin-top: 20px;
  width: 240px;
  height: 250px;
  margin-right: 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  margin-left: 195px;
  font-family: "Poppins", sans-serif;
}
.loginHeader {
  margin-left: 195px;
  font-family: "Poppins", sans-serif;
}

.loginButton {
  width: 50px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  padding: 4px;
  margin-top: 10px;

  background-color: rgb(236, 216, 165);

  border-radius: 5px;
}

.loginemail {
  padding: 4px;
}
.loginpassword {
  padding: 4px;
}

.search input {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  border-color: gray;
  border-radius: 10px;
  flex-direction: column;
}

.search i {
  font-size: 12px;
}

table {
  border: 1px solid black;
}

.addproductModal {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}
